@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .temp_2cols_70_30 {
    grid-template-columns: auto 30%;
  }
  .bg_main_color {
    background-color: #eeeeee;
  }
  .bg_button {
    background-color: #4691e3;
    border-color: #4691e3;
  }
  /* POSSIBLE BG-COLORS:
  light blue > c0dbea
  light-pink > fff6f6 */
  img {
    border-radius: 5px;
  }
}

@media screen and (min-width: 575.98px) {
  .centerOverride {
    justify-content: center !important;
  }
}
